<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="GRAPHITE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>./logs/graphite.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="READ_SIM" class="ch.qos.logback.core.FileAppender">
        <file>./data/update_keys.csv</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <!-- Uncomment for logging ALL HTTP request and responses -->
    <!-- 	<logger name="io.gatling.http" level="TRACE" /> -->
    <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
    <!-- 	<logger name="io.gatling.http" level="DEBUG" /> -->

    <logger name="io.gatling.metrics.message" level="DEBUG" additivity="false">
        <appender-ref ref="GRAPHITE_LOG" />
        <!--<appender-ref ref="CONSOLE" />-->
    </logger>

    <logger name="libs.FetchBaseData" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="actions.*" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="sims.*" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>



    <!--<logger name="com.data." level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="CONSOLE" />-->
    <!--</logger>-->

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>